@import url('https://fonts.googleapis.com/css?family=Product+Sans');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'product sans';
}

:root {
    --blue: #4285f4;
    --red: #ea4335;
    --yellow: #fbbc05;
    --green: #34a853;
}

.logo {
    margin-top: -10vh;
}

.logo::before {
    content: 'google_logo';
    font-size: 10vw;
    background-image: linear-gradient(
        to right,
        var(--blue) 0%, var(--blue) 26.5%,
        var(--red) 26.5%, var(--red) 43.5%,
        var(--yellow) 43.5%, var(--yellow) 61.5%,
        var(--blue) 61.5%, var(--blue) 78.5%,
        var(--green) 78.5%, var(--green) 84.5%,
        var(--red) 84.5%, var(--red) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo2 {
    margin-top: 0vh;
}

.logo2::before {
    content: 'Googol';
    font-size: 10vw;
    background-image: linear-gradient(
        to right,
        var(--blue) 0%, var(--blue) 25%,
        var(--red) 25%, var(--red) 41%,
        var(--yellow) 41%, var(--yellow) 59%,
        var(--blue) 59%, var(--blue) 75%,
        var(--green) 75%, var(--green) 95%,
        var(--red) 95%, var(--red) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.desc {
    font-size: 1.5vw;
    font-weight: normal;
    color: dimgray;
    margin-top: 2em;
}

.zeros {
    font-size: 3vw;
    font-weight: bold;
    margin-top: 0.2em;
    text-align: center;
    width: 25.5em;
    word-wrap: break-word;
}

.zeros span {
    color: var(--c);
}

.zeros span:nth-child(1) {
    margin-right: 0.2em;
}
